@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #152314;
  --foreground: #F6F3E1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #152314;
    --foreground: #F6F3E1;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: DM Sans, Helvetica, sans-serif;
}
